.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.task-item.completed {
  background-color: rgb(224, 255, 224);
}

.task-title.completed {
  text-decoration: line-through;
}

.task-buttons button {
  margin-right: 0.5rem;
}

.task-buttons button.delete {
  color: red;
}